.search {
	flex: 0 0 60%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	&__input {
		padding: 1rem 2rem;
		color: inherit;
		width: 70%;
		border-radius: 100px;
		border: none;
		background-color: white;
		transition: width 0.2s;
		margin-right: -3.25rem;
		&:focus {
			outline: none;
			width: 75%;
		}
	}
	&__button {
		border: none;
		background-color: white;
		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(2px);
		}
	}
	&__icon {
		color: rgba(0, 0, 0, 0.6);
		&:hover {
			cursor: pointer;
		}
	}
}
